{% extends "layout.html" %}

{% block body %}

    <!-- TODO -->
    <div class="row">
        <div class="col">
            <form action="/score" method="post">
                <div class="form-group">
                    <label for="string1">String 1</label>
                    <input type="text" class="form-control" id="string1" name="string1" placeholder="String 1">
                </div>
                <div class="form-group">
                    <label for="string2">Password</label>
                    <input type="text" class="form-control" id="string2" name="string2" placeholder="String 2">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
